header {
  font-size: 1.5rem;
  color: white;
  transition: 0.4s;
  font-weight: bold;
}

.Gamory-header:hover {
  color: #8f8f8f;
  transition: 0.5s;
}

.header {
  padding: 15px 30px;
  background-color: rgba(36, 36, 37, 0.4);
  backdrop-filter: blur(5px);
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: rgba(36, 36, 37, 0.4);
  border-radius: 40px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  width: 400px;
  transition: background-color 0.3s;
}
.search-form:hover {
  background-color: #444;
  transition: 0.5s;
}

.search-form input[type="search"] {
  border: none;
  padding: 8px;
  background-color: transparent;
  color: white;
  outline: none;
}

.search-form button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
