@import url(../global/global.css);
@import url(../global/header.css);
body {
  background-color: black;
}
button:hover {
  transform: scale(1.1);
}
.topo {
  background-image: url("../../images/background/home.jpg");
  margin: 10px 0;
  padding: 10px 30px;
}
.topo img {
  height: 170px;
  width: 170px;
  border: none;
  border-radius: 50%;
}
.profile {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 30px;
}
.nome {
  font-size: 40px;
  color: #fff;
}
.information {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.action {
  margin-top: 20px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex: 1;
}
.action a,
.action button {
  padding: 10px 20px;
  background-color: rgb(34, 6, 60, 0.5);
  color: white;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}
.jogos {
  padding: 20px;
  display: flex;
  align-items: center;
}
.MJ {
  padding: 20px;
  color: aliceblue;
  font-size: 28px;
}
.jogos img {
  border: 50px;
  margin: 6px;
  border-radius: 20px;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}
.jogos img:hover {
  transform: scale(1.1);
}
.amigos-menu {
  background: #222;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.amigo-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 8px;
  transition: background 0.2s;
}
.amigo-item:hover {
  background: #333;
}
.amigo-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.amigos-menu {
  display: flex;
  flex-direction: column;
}
.amigos-abas {
  display: flex;
  justify-content: space-around;
}
.amigos-abas button {
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
}
.amigos-lista {
  display: flex;
}
.aba-ativa {
  display: flex !important;
}
button.aba-ativa {
  border-color: #7b0302;
}
.aba {
  display: none;
  text-align: center;
}
