@import url("../global/global.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background: url("../../images/background/lading.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
  width: 130px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  backdrop-filter: blur(20px);
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 0;
}

/* Hover padrão para todos os links */
.nav-links a:hover {
  background-color: #7b0302;
  color: #000;
  border-radius: 20px;
}

/* Estilo especial para o botão de cadastro */
.nav-links .special-link a {
  background-color: #7b0302;
  color: #fff;
  border-radius: 50px;
  padding: 8px 20px;
}

/* Hover especial no "Cadastre-se" */
.nav-links .special-link a:hover {
  background-color: #fff;
  color: #7b0302;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  padding: 0 50px;
}

.image-container img {
  width: 350px;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle, #7b0302 40%, #000 41%);
}

.content {
  margin-left: 50px;
}

.content h1 {
  font-size: 48px;
}

.content h1 span {
  color: #04a6a6;
}

.content h2 {
  font-size: 100px;
  margin: 10px 0;
}

.content h2 span {
  color: #e07b7b;
}

.content p {
  max-width: 600px;
  margin: 20px 0;
  color: #ccc;
  font-size: 25px;
}

.typing {
  font-size: 30px;
  color: #993e3e;
}

@keyframes pulse {
  0% {
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.special-link a {
  animation: pulse 2s infinite;
}
