@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: url('../../assests/images/home/newfundo4.jpg') no-repeat center center/cover;
  color: white;
  overflow-x: hidden;
}

/* ---------- TOPO / HEADER ---------- */
.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(36, 36, 37, 0.8);
  backdrop-filter: blur(9px);
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 20px;
  flex-wrap: wrap;
}


.topo h2 {
  font-size: 1.5rem;
  color: white;
  transition: 0.4s;
  font-weight: bold;
  

}


.topo h2:hover {
  color: #8f8f8f;
  cursor: pointer;

}

/* ---------- BARRA DE PESQUISA ---------- */
.pesquisa {
  display: flex;
  align-items: center;
  background-color: rgba(36, 36, 37, 0.4);
  border-radius: 40px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  width: 400px;
  transition: background-color 0.3s;
}

.pesquisa:hover {
  background-color: rgba(80, 80, 80, 0.5);
}

.pesquisa input {
  border: none;
  padding: 10px 16px;
  background: transparent;
  color: white;
  outline: none;
  width: 100%;
}

.pesquisa button {
  background: none;
  border: none;
  padding: 10px 16px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.pesquisa {
  width: 300px;
  max-width: 100%;
  margin: 0 20px;
}


/* ---------- LINKS DO TOPO ---------- */
.topo a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: bold;

}

.topo a:hover {
  color: #444;
  transition: 0.5s;
}

/* ---------- BOTÃO SAIR ---------- */
.aa {
  background-color: #7b0302;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.4s;
}

.aa:hover {
  background-color: #aaa;
  color: #7b0302;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 20px;
}


/* ---------- SESSÃO DE JOGOS ---------- */
.jogos {
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.);
  backdrop-filter: blur(4px);
}

.jogos p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.jogos a {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.jogos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, filter 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.jogos img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
